<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document_number) %>:</strong></dt>
  <dd><%= @user.document_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>

<h3 class="sub-header">Cuenta # <%= @user.account_number %></h3>

<h4> Saldo actual: <%= number_to_currency @user.balance %> </h4>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Transaccion #</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Valor</th>
        <th>Origen</th>
      </tr>
    </thead>
    <tbody>
      <% @user.account_movements.each do |movement| %>
        <tr>
          <td><%= movement.id %></td>
          <td>consignacion</td>
          <td><%= movement.created_at.to_formatted_s(:short) %></td>
          <td><%= number_to_currency movement.value %></td>
          <td><%= movement.origin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
